/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: left;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

#roomForm, #joinRoomForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#currentUsers {
    margin-top: 20px;
}

#gameState {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Define styles for game section layout */
#gameSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Adjust styles for question section */
#questionSection {
    flex: 2; /* Occupy 2/3 of the available space */
}

/* Adjust styles for answer buttons */
#answerButtons {
    flex: 1; /* Occupy 1/3 of the available space */
}

/* Adjust styles for points button */
#pointsButton {
    flex: 1; /* Occupy 1/3 of the available space */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100%;
}

.header h1 {
    margin: 0;
}

.player-info {
    text-align: right;
}

.player-info span {
    display: block;
    margin-bottom: 5px; /* Add some space between player name and room ID */
}

/* Center the form */
#roomForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Adjust as needed */
}

/* Style the input box */
#playerName, #roomID {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Style the buttons */
#joinRoomButton, #createRoomButton, #joinRoomForm button[type="submit"] {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    color: white;
    transition: background-color 0.3s;
}

#joinRoomButton:hover, #createRoomButton:hover, #joinRoomForm button[type="submit"]:hover {
    background-color: #45a049; /* Darker green */
}

